<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vectra</title>
</head>
<body>
    <%= stylesheet_link_tag "main" %>
    <div class="container">
        <h1>Vectra</h1>
        <p class="subtitle">The next generation brokerage</p>
        <a id="signupBtn" href="/users/sign_up" class="btn fancy-btn">Sign Up</a>
        <a id="loginBtn" href="/users/sign_in" class="btn fancy-btn">Log In</a>
    </div>
</body>
</html>
